*{
    margin: 0.1%;
    padding: 0%;
}
.Header{
    background-color: blueviolet;
    line-height: 200px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.Main{
    background-color: aquamarine;
    line-height: 300px;
    width: 100%;
    text-align: center;
    te
}
.Sidebar{
    background-color: brown;
    line-height: 300px;
    width: 25%;
    float: left;
    text-align: center;
    margin: 2px;
    border: 1ch;
    border-color: black;

}
.Images{
    background-color: crimson;
    line-height: 300px;
    width: 49.2%;
    text-align: center;
    float: left;
    margin: 2px;
overflow: auto;
}
.Sidebar2{
    background-color: darkgrey;
    line-height: 300px;
    width: 25%;
    text-align: center0;
    float: right;
    margin: 10px;
    text-align: center;
    margin: 2px;
}